*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    width: 90%;
    margin: 30px auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 91px;
    height: 26px;
    top: 32px;
    left: 88px;
    gap: 12px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #2B2B2B;
}

        /*******section 1********/
.hero{
    text-align: center;
}

.hero-text h1{
    width: 1300px;
    height: 82px;
    color: #2A2A2A;
    font-size: 65.34px;
    font-weight: 600;
    letter-spacing: 0;
    margin: 20px auto;
}

.hero-text p{
    width: 1300px;
    height: 24px;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 20px auto;
}

.hero-text button{
    width: 251px;
    height: 56px;
    border-radius: 67px;
    padding: 16px;
    color: white;
    background-color: #285E67;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.hero-text button:hover{
    background-color: #3ea1b3;
}

.hero-img{
    width: 1300px;
    height: 391px;
    display: flex;
    gap: 48px;
    margin: 50px auto 0;
}

.card{
    width: 626px;
    height: 391px;
    border-radius: 16px;
}

      /********section 2***********/
.wellbeing{
    width: 1465px;
    height: 446px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 80px;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 16px;
}

.content{
    flex: 1;
}

.content h2{
    margin-bottom: 40px;
    width: 589px;
    height: 46px;
    font-size: 50.52px;
    font-weight: 600;
}

.all-features{
    display: flex;
    gap: 40px;
}

.feature{
    width: 260px;
    height: 187.54px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 50px;
}

.feature p{
    width: 260px;
    height: 110.54px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 150px;
}

.feature img{
    width: 60px;
    height: 60px;
    margin-right: 322px;
}

.wellbeing > img{
    width: 370px;
    margin-top: 60px;
    max-width: 100%;
    display: block;
}

/*******section 3********/
.organic{
    display: flex;

}
.container img{
width: 658px;
opacity: 1;
margin-left: 150px;
margin-top: 115px;
border-radius: 16px;
}

.text{
width: 623.5px;
height: 474px;
margin-top: 150px;
margin-left: 100px;
justify-content: space-between;
opacity: 1;
}

.text h3{
    width: 623.5px;
    height: 115px;
    font-size: 50.52px;
    font-weight: 600;
}

.first-p{
    width: 623.5px;
    height: 83px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list li{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 32px;
    color: #2B2B2B;
    font-size: 14px;
}

.list-icon{
    width: 52px;
    height: 52px;
    object-fit: contain;

}

/*****section 4********/

.frame{
    position: relative;
    margin-bottom: 100px;
}

.banner-bg{
    height: 667px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0,0.4)), url(../image/background.png) center/cover no-repeat;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner-icon{
    opacity: 1;
    border-width: 2px;
    object-fit: contain;
}

.banner-content h2{
    width: 640px;
    height: 44px;
    font-size: 40px;
    font-weight: 700;
    margin: 16ox 0;
}

.banner-content p{
    width: 650px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 24px;
}

.btn-outline{
    width: 257px;
    height: 56px;
    background: transparent;
    border: 1.5px solid white;
    color: white;
    padding: 10px 32px;
    border-radius: 24px;
    margin-top: 24px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.overlay-card{
    width: 1165px;
    height: 356px;
    position: absolute;
    bottom: -178px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fce2d7;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding: 119px 66px;
    box-sizing: border-box;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.card-icon{
    width: 48px;
    height: 48px;
    object-fit: contain;
}



/*****footer*****/

.footer{
background-color: #285E67;
height: 245px;
opacity: 1;
padding-top: 78px;
padding-left: 139px;
display: flex;
gap: 60%;
}

.sites{
    list-style: none;
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}