
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: rgb(49, 46, 46);
 font-family: sans-serif;
 direction: ltr;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 60px 20px;
 margin: 0;
}

.container {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.flip-card {
 width: 547px;
 height: 885px;
 position: relative;
 perspective: 1000px;
}

.card-inner {
 width: 100%;
 height: 100%;
 position: relative;
 transition: 1s;
 transform-style: preserve-3d;
 cursor: pointer;
 border-radius: 32px;
}

.flip-card:hover .card-inner {
 transform: rotateY(180deg);
}

.card-front,
.card-back {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 border-radius: 32px;
 backface-visibility: hidden;
 overflow: hidden;
 direction: ltr;
}

.card-front {
 background-color: #000;
 color: #ffffff;
}

.card-front img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 position: absolute;
 top: 0;
 left: 0;
}

.card-front h1 {
 position: absolute;
 width: 357px;
 height: 126px;
 top: 700px;
 left: 62px;
 font-size: 34px;
 font-weight: 700;
 line-height: 1.15;
 color: #ffffff;
 z-index: 2;
}

.front-arrow-btn {
 position: absolute;
 width: 68px;
 height: 68px;
 top: 729px;
 left: 419px;
 border: 2px solid #38bdf8;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 10;
}

.front-arrow-btn i {
 font-size: 26px;
 color: #38bdf8;
 position: relative;
 z-index: 11;
 transform: rotate(-45deg);
 display: inline-block;
}

   /******** back *******/
.card-back {
    background-color: #ffffff;
    color: #1e293b;
    transform: rotateY(180deg);
}

.card-back img {
    position: absolute;
    width: 120px;
    height: 110px;
    top: 130px;
    left: 59px;
    object-fit: contain;
}

.card-back h1 {
    position: absolute;
    width: 386px;
    height: 144px;
    top: 260px;
    left: 59px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.15;
    color: #1E335C;
}

.card-back p {
    position: absolute;
    width: 428px;
    height: 96px;
    top: 430px;
    left: 59px;
    font-size: 18px;
    line-height: 1.5;
    color: #64748b;
}

.read-more {
    position: absolute;
    width: 211px;
    height: 68px;
    top: 732px;
    left: 276px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.read-more a{
    font-size: 20px;
    font-weight: 500;
    color: #38bdf8;
    text-decoration: none;
}


.back-arrow-btn {
    width: 68px;
    height: 68px;
    border: 2px solid #38bdf8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-arrow-btn i {
    font-size: 24px;
    color: #38bdf8;
}