
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

h1 {
 color: rgb(170, 27, 51);
 margin-bottom: 30px;
}

.text-gray {
 color: darkgray;
}

h2 {
 color: rgb(170, 27, 51);
}

.bg-light {
 background-color: #ececec;
}

.text-center {
 text-align: center;
}

.padding-top-bottom {
 padding-top: 2%;
 padding-bottom: 2%;
}

.w-100 {
 width: 100%;
}

.card {
 width: 30%;
 box-shadow: 0px 0px 6px 2px lightgray;
 display: inline-block;
}

.container {
 width: 80%;
 margin: auto;
}

.card-body {
 padding: 4%;
}

.card-body p {
 margin: 2% 0%;
}

a {
 text-decoration: none;
}

.card-sm {
 width: 30%;
 border: 3px solid;
 padding: 2%;
 background-color: rgb(187, 181, 181);
 display: inline-block;
 box-sizing: border-box;
}

.margin-left-right {
 margin: 0% 3% 3%;
}